@import '../App.scss';

.introduction {
    position: absolute;
    width: 35%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.4);
    padding: 45px 20px;
    border-radius: 10px;
    top: 20%;
    left: 55%;
    text-align: center;
    transition: transform 0.3s;
    will-change: transform;
    backdrop-filter: blur(10px);

    h1 {
        font-size: 80px;
    }

    h4 {
        font-size: 25px;
        padding: 15px 50px;
        margin: 25px 0;
        border-top: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;
    }

    button {
        font-family: "Montserrat", sans-serif;
        color: white;
        background-color: rgb(0, 128, 128);
        border: none;
        padding: 20px 50px;
        margin: 15px 0px;
        border-radius: 50px;
        font-size: 20px;

        &:hover {
            cursor: pointer;
            transition-duration: 0.6s;
            color: white;
            background-color: rgba(0, 128, 128, 0.55);
            transform: scale(1.02);
        }

        &:active {
            transition-duration: 0.6s;
            transform: scale(0.8);
        }
    }


    @media only screen and (min-width: 641px) and (max-width: 1007px) {
        /*Tablets*/

        width: 40%;
        top: 12%;
        left: 45%;

        h4 {
            padding: 15px 30px;
        }
    }

    @media only screen and (max-width: 640px) {
        /*Mobile phones*/

        width: 65%;
        top: 10%;
        left: 12%;

        h1 {
            font-size: 50px;
        }

        h4 {
            font-size: 15px;
            margin: 10px 0;
            padding: 15px 20px;
        }

        button {
            padding: 14px 45px;
            margin: 10px 0px;
            border-radius: 50px;
            font-size: 12px;
        }
    }
}