@import '../App.scss';

.main-container {

    video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: contrast(140%) grayscale(100%) blur(5px);
    }

    @media only screen and (min-width: 641px) and (max-width: 1007px) {

        /*Tablets*/
        .gif-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            filter: contrast(140%) grayscale(100%) blur(1px);
        }
    }

    @media only screen and (max-width: 640px) {
        /*Mobile phones*/

        .gif-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            filter: contrast(140%) grayscale(100%) blur(1px);
        }
    }
}