@import '../App.scss';

.social-media {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(0, 128, 128);
    font-weight: bold;
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.4);
    padding: 45px 20px;
    border-radius: 10px;
    top: 20%;
    left: 20%;
    text-align: center;
    transition: transform 0.3s;
    will-change: transform;
    backdrop-filter: blur(10px);

    .icons {
        font-size: 4rem;
        margin: 5px 0;

        &:hover {
            cursor: pointer;
            color: $secondary-color;
            transition-duration: 0.6s;
            transform: scale(1.02);
        }

        &:active {
            transition-duration: 0.6s;
            transform: scale(0.8);
        }
    }
}